<ion-header>
  <ion-toolbar style="--ion-background-color: var(--ion-color-secondary);">
    <ion-buttons slot="start">
      <ion-back-button [text]="'back_title' | translate" defaultHref="/tabs/profile/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button lines="none">
      <ion-label>Nombre</ion-label>
      <span slot="end">@{{Usuario.name}}</span>
    </ion-item>

    <ion-avatar slot="start" style="width: 72px;height: 72px;">
      <img [src]="this.imagen">
    </ion-avatar>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Personalizar Informacion de tu cuenta</ion-label>
    </ion-list-header>
    <ion-item button lines="none">
      <ion-label>Actualizar foto de perfil</ion-label>
      <ion-button 
      shape="round"
      color="primary"
      fill="outline"
      (click)="presentAlertFotos()"
     >añadir archivo</ion-button>
    </ion-item>

    <ion-item lines="none">
      <ion-label>cuenta pública</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list>
   
    <ion-item button lines="none">
      <ion-label>
        Personalizar biografía
        <p style="color: cadetblue;">{{Usuario.biografia}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <form [formGroup]="tasks" (ngSubmit)="this.sendFormBio()">
   
    <br>
    <ion-item>
      <ion-textarea 
      formControlName="biografia"
      placeholder="nueva biografia"
      autocapitalize="true"
      auto-grow="true"></ion-textarea>
    </ion-item>
    <div style="text-align: right;">
      <br>

  


      <ion-button 
      shape="round"
      color="primary"
      fill="outline"
      type="submit"
      >Añadir</ion-button>
    
    

  </div>
  </form>
  <ion-button 
  shape="round"
  color="primary"
  fill="outline"
  (click)=" GuardarFoto()"
 >Guardar cambios</ion-button>
</ion-content>