ion-content {
    --background: var(--ion-item-background, #fff);
}

.message-icon-middle {
    vertical-align: middle;
}

ion-toolbar {
    --background: url(/assets/imagenes/degradado.jpg) no-repeat center/cover fixed;
  }