<ion-app [ngClass]="{'dark-theme': isDarkTheme, 'camera': isCameraStart}">
  <ion-menu side="start" type="push" menuId="camera" contentId="main" class="camera-menu" disabled
    (ionWillOpen)="onOpenCameraMenu($event)" (ionDidClose)="onCloseCameraMenu($event)">
    <ion-content (click)="getCameraFocusCoordinates($event)">
      <div class="loader-6 center"
        [ngStyle]="{'left': cameraFocusPosition.left + 'px', 'top': cameraFocusPosition.top + 'px'}"
        *ngIf="cameraFocusPosition.show">
        <span></span>
      </div>
      <ion-toolbar >
        <ion-buttons slot="start">
          <ion-button>
            <ion-icon size="large" slot="icon-only" name="cog-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
          <ion-button (click)="closeCameraSide($event)">
            <ion-icon size="large" slot="icon-only" name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

      <ion-row class="camera-control">
        <ion-col size="12" class="controls">
          <ion-button fill="clear" [disabled]="isCameraFront" (click)="switchFlashMode($event)">
            <ion-icon slot="icon-only" [name]="isCameraFlashMode ? 'flash-off-outline' : 'flash-outline'"></ion-icon>
          </ion-button>
          <ion-fab-button class="shoot-control" (click)="takePicture($event)">
            <div class="circle"></div>
          </ion-fab-button>
          <ion-button fill="clear" (click)="switchCamera($event)">
            <ion-icon slot="icon-only" name="sync-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <!--<ion-col size="12">
          <ion-segment mode="ios" style="max-width: 320px;margin: auto;" (ionChange)="segmentChanged($event)">
            <ion-segment-button>
              <ion-label>Qr scanner</ion-label>
            </ion-segment-button>
            <ion-segment-button>
              <ion-label>Live</ion-label>
            </ion-segment-button>
            <ion-segment-button>
              <ion-label>Story</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>-->
      </ion-row>
    </ion-content>
  </ion-menu>

  <ion-menu side="end" type="push" menuId="profile" contentId="main" class="profile-menu" disabled>
    <ion-header>
      <ion-toolbar  style="--background: url(/assets/imagenes/degradado.jpg) no-repeat center/cover fixed;"  >
        <ion-title>Info Del Creador </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-grid>
        <ion-row  style="margin-top: 60px;"  class="ion-align-items-start">
          <ion-col style="text-align: center;" size="4">
            <ion-button  style="font-size: 20px;color: rgb(127, 221, 250);" > 
              <ion-icon name="people"></ion-icon>
                 </ion-button>
            Usuarios
          
          </ion-col >
          <ion-col style="text-align: center;" size="4">
            <ion-button style="font-size: 20px;color: rgb(255, 228, 154);" > 
              <ion-icon  style="font-size: 30px;"name="mic"></ion-icon>
                 </ion-button>
            Actores
          </ion-col>
          <ion-col style="text-align: center;" size="4">
            <ion-button  style="font-size: 20px;color: rgb(253, 106, 106)" > 
              <ion-icon style="font-size: 30px;" name="film"></ion-icon>
                 </ion-button>
            Peliculas
          </ion-col>
          
        </ion-row>
      
        <ion-row  style="margin-top: 80px;" class="ion-align-items-start">
          <ion-col style="text-align: center;" size="4">
      
            <ion-button   style="font-size: 20px;color: rgb(255, 140, 255);"> 
              <ion-icon name="videocam"></ion-icon>
                 </ion-button> <br>
            Series
          </ion-col >
          <ion-col style="text-align: center;" size="4">
            <ion-button   style="font-size: 20px; color: rgb(169, 238, 104);"> 
         <ion-icon   name="game-controller"></ion-icon>
            </ion-button>
            Videojuegos   
          </ion-col>
          <ion-col style="text-align: center;" size="4">
            <ion-button  style="font-size: 20px;color: rgb(173, 156, 252);" > 
              <ion-icon name="school"></ion-icon>
                 </ion-button>
            Formación
          </ion-col>
          
        </ion-row>
      </ion-grid>
    </ion-content>

    <ion-footer>
      <ion-toolbar class="footer"  style="--background: url(/assets/imagenes/degradado.jpg) no-repeat center/cover fixed;">
        <ion-buttons slot="start">
          <ion-button (click)="goToSettings()">
            <ion-icon color="primary" slot="icon-only" size="large" name="cog-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-title>{{'Configuración' | translate}}</ion-title>

        <ion-buttons slot="end">
          <ion-button (click)="toggleDarkTheme()">
            <ion-icon color="primary" slot="icon-only" name="moon-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>