<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="" defaultHref="/tabs/explore" (click)="atras()"></ion-back-button>
    </ion-buttons>
  


      <ion-title class="ion-text-left">
      {{Usuario.name}}
      </ion-title>
  
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" style="--ion-text-color: var(--ion-color-medium);" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down-outline"></ion-refresher-content>
  </ion-refresher>






  <ion-card>
    <ion-card-header>
      <ion-list lines="none">
        <ion-item lines="none" style="--background: inherit;">
          <ion-avatar slot="start" style="width: 72px;height: 72px;">
            <img [src]="Usuario.foto">
          </ion-avatar>
          <ion-label style="margin-right: 15px;">
            
           
            <h2  style="vertical-align: middle;display: table-cell;margin-left: 20px;">
           
              <p style="color: cornflowerblue; text-align: center;">{{numero_publicaciones}}</p> Publicacio...
            </h2>
          </ion-label>

          <ion-label style="margin-left: 15px;">
            
           
            <h2 style="vertical-align: middle;display: table-cell;">
           
              <p style="color: cornflowerblue;text-align: center;">0</p> Followers
            </h2>
          </ion-label>

          
        </ion-item>
      </ion-list>
    </ion-card-header>
  
    <ion-card-content>
  {{Usuario.biografia}}
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
    
     
      <ion-button  fill="outline" slot="end">  <ion-icon name="person-add-sharp"></ion-icon></ion-button>
    </ion-item>
  
    <ion-card-content>
    
    </ion-card-content>
  
  </ion-card>


  <ion-list>
    <ion-card *ngFor="let p of listadoConFoto">
      <ion-card-header style="background-color: rgb(255, 237, 198);">
        <ion-item lines="none">
      
          <ion-label>
            
            <h2>{{p.descripcion}}</h2>
          </ion-label>
          <br>
         
          <ion-item>  <ion-buttons slot="end">
            <ion-button (click)="presentAlertConfirmDelete(p.id)" color="medium">
             
              <ion-icon  slot="icon-only" name="trash-sharp"></ion-icon>
            </ion-button>
          </ion-buttons></ion-item>
        
        </ion-item>
      
      </ion-card-header>
  

      <ion-card-content class="post-list-content" >
        <ion-item>
          <ion-img  *ngIf="p.imagen" [src]="p.imagen"></ion-img>
        
        </ion-item>
      </ion-card-content>

      <ion-item  lines="none" class="action-item">
        <ion-buttons slot="start">
          <ion-button color="medium" class="action-button">
            <ion-icon slot="start" name="heart-outline"></ion-icon>
          
          </ion-button>
          <ion-button color="medium" class="action-button">
            <ion-icon slot="start" name="chatbox-outline"></ion-icon>
          
          </ion-button>
          <ion-button color="medium" class="action-button">
            <ion-icon slot="start" name="return-up-forward-outline"></ion-icon>
       
          </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
          <ion-button color="medium">
            <ion-icon size="small" slot="start" name="eye-outline"></ion-icon>
            6
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card>
  </ion-list>
 
  
 
</ion-content>
